.App {
	min-width: 550px;
  max-width: 550px;
	min-height: 704px;
  background-color: white;
}
header {
  background-color: rgb(241, 77, 77);
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > img {
  margin-right: 10px;
}

.travel-location {
  min-width: 470px;
  min-height: 168px;
  max-width: 470px;
  max-height: 168px;
  margin: 36px 40px 0px 40px;
  display: inline-flex;
}

.travel-image {
  border-radius: 5px;
  height: 168px;
  width: 125px;
  object-fit: cover;
}
.location-pin-icon {
  height: 10px;
  width: 7px;
  object-fit: fill;
  margin-right: 5px;
}
.location-details {
  font-size: small;
  font-weight: 100;
  margin-left: 20px;
  display: block;
}
.location-country {
  font-weight: normal;
  display: inline;
  text-transform: uppercase;
}
.location-country > a {
  font-size: smaller;
  margin-left: 10px;
  text-transform: capitalize;
}
.location-title {
  font-size: x-large;
  font-weight: bold;
  margin: 5px 0px 10px 0px;
}
.location-date {
  font-weight: bold;
  margin-bottom: 5px;
}

@media (prefers-reduced-motion: no-preference) {

}

