.App {
	min-width: 550px;
  max-width: 550px;
	min-height: 704px;
  background-color: white;
}
header {
  background-color: red;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > img {
  margin-right: 10px;
}

.travel-location {
  min-width: 470px;
  min-height: 168px;
  max-width: 470px;
  max-height: 168px;
  margin: 36px 40px 0px 40px;
  display: inline-flex;
}

.travel-image {
  border-radius: 10px;
  height: 168px;
  width: 125px;
  object-fit: fill;
}
.location-pin-icon {
  height: 10px;
  width: 7px;
  object-fit: fill;
  margin-right: 2px;
}
.location-details {
  font-size: small;
  font-weight: normal;
  margin-left: 20px;
  display: block;
}
.location-country {
  font-weight: bold;
  display: inline;
}
.location-country > a {
  margin-left: 10px;
}
.location-title {
  font-size: medium;
  font-weight: bold;
}
.location-date {
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {

}

